/* theme-specified coloring: */
:root.light {
    --bg-gradient-top: #ddeeff;
    --bg-gradient-bottom: #ffffff;
    --color-strong-accent: #9900ff;
    --color-mid-accent: #4488FF;
    --color-weak-accent: #00DDFF;
    --color-main-text: #000020;
}

:root.dark {
    --bg-gradient-top: #000000;
    --bg-gradient-bottom: #00002A;
    --color-strong-accent: #00DDFF;
    --color-mid-accent: #4488FF;
    --color-weak-accent: #9900ff;
    --color-main-text: #eeeeee;
}

body {
    --standard-padding: 4%;
    --line-width: 0.15rem;
    --rounding: 0.4rem;
    --regular-fonts: 'Jura', 'Tahoma', sans-serif;
    --header-fonts: 'Unbounded', 'Georgia', sans-serif;

    background-color: var(--bg-gradient-bottom);
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, var(--bg-gradient-top), var(--bg-gradient-bottom));
    background-size: 100%;

    color: var(--color-main-text);

    font-family: var(--regular-fonts);
    font-size: 16px;
    font-weight: lighter;
    text-align: justify;

    overflow: auto;

    padding: var(--standard-padding);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 1vw;
    height: 1vw;
    background-color: var(--bg-gradient-bottom)
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-mid-accent);
}

::-webkit-scrollbar-corner {
    background-color: var(--bg-gradient-bottom);
}

main {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#navigation-bar {
    display: inline-block;

    background-image: linear-gradient(to bottom, var(--bg-gradient-top) 70%, transparent);

    color: var(--color-main-text);

    text-align: center;

    position: fixed;
    top: 0;
    left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;

    width: 100%;

    z-index: 1;
}

@supports(display: flex) {
    #navigation-bar {
        display: flex;
        justify-content: space-around;
        align-content: baseline;
        align-items: center;
    }
}

#light-theme-icon,
#dark-theme-icon {
    height: 1.2rem;
    vertical-align: middle;
}

select {
    background-color: transparent;
    border-color: var(--color-strong-accent);
    border-style: solid;
    border-width: 0.15rem;
    border-radius: var(--rounding);

    color: var(--color-main-text);

    font-family: var(--regular-fonts);

    height: 1.5rem;
    vertical-align: middle;
}

option {
    background-color: var(--bg-gradient-top);
}

/* language icons: */
.sel-lang-icon {
    border-color: var(--color-strong-accent);
    border-style: solid;
    border-width: 0.15rem;
    border-radius: var(--rounding);

    height: 1.2rem;
    vertical-align: middle;
}

.unsel-lang-icon {
    height: 1.2rem;
    vertical-align: middle;
}

#copyright {
    text-align: center;
    padding: 1rem;
}

h1 {
    background-clip: text;
    background-image: linear-gradient(1deg, var(--color-strong-accent) 20%, var(--color-weak-accent) 60%);
    background-repeat: no-repeat;

    color: transparent;

    font-family: var(--header-fonts);
    font-weight: bold;
    font-size: 1.8rem;
    text-align: left;

    position: relative;
    margin-top: 0.75em;
    margin-bottom: 0.5em;

    animation: h-highlighting-rev 0.6s ease forwards;
}

/* h1 underline: */
h1:before {
    background-image: linear-gradient(to right,
            var(--color-strong-accent) 0%,
            var(--color-weak-accent) 80%,
            transparent 100%);

    border-radius: var(--rounding);

    content: "";

    position: absolute;
    top: 1.25em;

    height: var(--line-width);
    width: 100%;

    z-index: -1;
}

h1:hover {
    animation: h-highlighting 0.4s ease-in forwards;
}

/* gradient text animation: */
@keyframes h-highlighting {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 225%;
    }
}

@keyframes h-highlighting-rev {
    0% {
        background-size: 225%;
    }

    100% {
        background-size: 100%;
    }
}

h2 {
    color: var(--color-strong-accent);

    font-family: var(--header-fonts);
    font-size: 1.5rem;
    text-align: center;

    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    color: var(--color-weak-accent);

    font-family: var(--header-fonts);
    font-size: 1.1rem;
    font-style: bold;
    text-align: left;

    padding-left: var(--standard-padding);
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

p {
    margin: 0.5rem;
    padding-left: var(--standard-padding);
    padding-right: var(--standard-padding);
    text-indent: var(--standard-padding);
}

hr {
    background-clip: border-box;
    background-image: linear-gradient(to right,
            var(--color-strong-accent) 0%,
            var(--color-weak-accent) 80%,
            transparent 100%);
    background-repeat: repeat;

    border-style: none;
    border-radius: var(--rounding);

    height: var(--line-width);
    width: 100%;
}

.highlightable:hover,
a:hover {
    cursor: pointer;
    filter: brightness(1.4);
}

/* links: */
a:link {
    color: var(--color-mid-accent);
}

a:visited {
    color: var(--color-weak-accent);
}

a:active {
    color: var(--color-strong-accent);
}

/* used on index page: */
.no-script-lang-icon {
    align-content: center;
    /*height: 20vw;*/
}

#lang-selection {
    text-align: center;
}

figure {
    align-content: center;
    text-align: center;
}

/* emphasized phrase: */
#phrase {
    font-family: 'Rubik Burned', sans-serif;
    font-size: 5rem;
    text-align: center;
}

@supports(display: grid) {
    .grid-container {
        align-self: center;
        display: grid;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        grid-auto-rows: auto;
        grid-auto-columns: auto;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        align-items: top;
        justify-content: center;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }

    .grid-item {
        grid-area: auto;
        border-color: var(--color-mid-accent);
        border-style: solid;
        border-width: var(--line-width);
        border-radius: var(--rounding);
    }
}